Hello World!
<a href="about">go inside</a> </br>

<form method="POST">
    {% csrf_token %}
    <title>Praxis</title>
    <input type="text" name="name"/></br>
    
    <button type="submit">submit this</button>
</form>


<div style="background-color:red; size: 120px;">
    <table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>action</th>
    </tr>

        {% for d in data %}
        <tr>
        
            <td>{{ d.pk }}</td>
            <td>{{ d.name }}</td>
            <td>
            <a href="update/{{ d.pk }}" style="">update</a> 
            <a href="delete/{{ d.pk }}">delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
